/* ADD YOUR STYLES HERE */
table.tablePad, table#usageTbl {
	width: 100%;
}
.tablePad td,
.tablePad th {
	padding-top: 12px;
	padding-bottom: 12px;
}
.tablePad tr,
.tablePad thead {
	border-bottom: 1px solid silver;
}
.tablePad tr:last-child {
	border-bottom: 0px;
}
table#followers {
	width: 220px;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}
table#followers td {
	padding: 20px;
}
.headerNum {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}
.smallTxt {
	text-align: center;
	font-size: .8em;
	color: silver;
}
/*bar charts*/
#usageTbl th {
	width: 90px;
	height: 21px;
	text-align: right;
	padding-right: 13px;
	/*white-space: nowrap;*/
}
#usageTbl td {
	height: 23px;
	font-size: .9em;
}
.usagePercent {
	background-color: #689EDE;
	color: #fff;	
	height: 100%;
	padding-top: 3px;
	padding-left: 8px;
	border-radius: 4px;
}
/*lightbox*/
.lBContain {
	background-color: rgba(0,0,0,.7);
	width: 100%;
	height: 100%;
	/*position: fixed;*/
	top: 0;
	left: 0;
}
.lBFloater {
	width: 600px;
	margin: auto;
	background-color: #fff;
	margin-top: 33%;
	border-radius: 10px;

}
.lBWhiteBox {
	padding: 20px;
	padding-bottom: 50px;
}
div#closeBtn {
	float: right;
	text-align: center;
	background-color: #E6848B;
	border-radius: 6px;
	padding: 7px 30px;
}
a.closeBtn {
	color: white;
	text-decoration: none;
	font-weight: bold;
}
/*media block*/
.floatLft {
	float: left;
	margin-right: 10px;
}
.mediaTxt {
	overflow: hidden;
}
